<div class="contact">
  <app-back-icon></app-back-icon>
  <h1 class="contact-header">Contact Me</h1>
  <div class="contact-body">
    <div class="contact-networks">
      <h2>Social networks</h2>
      <app-icons-list [icons]="networks"></app-icons-list>
    </div>
    <div class="contact-mail">
      <h2>Mail</h2>
      <app-icons-list [icons]="[mail]"></app-icons-list>
    </div>
    <div class="contact-github">
      <h2>GitHub</h2>
      <app-icons-list [icons]="[github]"></app-icons-list>
    </div>
    <div class="contact-markets">
      <h2>Freelance Markets</h2>
      <app-icons-list [icons]="freelanceSites"></app-icons-list>
    </div>
  </div>
</div>
