@import "../vars";

.contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  max-width: 80rem;
  margin: auto;

  .contact-header{
    color: #f8f8f8;
    position: relative;
    font-size: 3rem;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    margin: 10rem auto 5rem auto;
    user-select: none;
    border-bottom: 3px solid $off-white;
    display: inline-block;

    font-family: 'Cormorant Garamond',serif;
    text-transform: uppercase;
    text-align: center;
  }
  .contact-body {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    div {
      background-color: $color2;
      margin: 0.4rem;
      padding: 2rem;
    }

    h2 {
      color: $off-white;
      letter-spacing: 2px;
      padding-bottom: 0;
      font-size: 2rem;
      border-bottom: 2px solid $off-white;
      margin: auto;
    }
    .contact-networks{
      flex: 1  70%;
    }
    .contact-mail{
      flex: 1 20%;
    }
    .contact-github{
      flex: 1 20%;
    }
    .contact-markets{
      flex: 1 70%;
    }
  }

}

@media (max-width:$break-point-middle) {
  .contact-body{
    h2{
      font-size: 1.4rem;
    }
    .contact-networks,.contact-markets{
      flex: 2;
    }
    .contact-mail,.contact-github{
      flex: 1;
    }

  }
}

