<div class="menu-path">
  <div class="menu-line">
  </div>
  <div class="menu-btns">
    <app-menu-btn text="About me"
                  class="menu-btn-delay-1"
                  [animationDelay]="1"
                  route="/about">

    </app-menu-btn>
    <app-menu-btn text="My works"
                  direction="left"
                  class="menu-btn-delay-2"
                  [animationDelay]="1.5"
                  route="/works"
    ></app-menu-btn>
    <app-menu-btn text="Contact me"
                  class="menu-btn-delay-3"
                  [animationDelay]="2"
                  route="/contact"></app-menu-btn>
  </div>

</div>
