@import "src/app/vars";
:host{
  height: 100vh;
}
.menu-path{
  .menu-line{
    position: absolute;
    background-color:$color1;
    left: 50%;
    top:0;
    box-shadow: 7px 5px 8px 0 rgba(0,0,0,.31);
    width:1.6rem;
    height: 100%;
    z-index: 0;
    @extend .menu-line-animation;
  }
}

.menu-btns{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  height: 100vh;
  justify-content: center;
}
@for $i from 1 through 3 {
  .menu-btn-delay-#{$i} a{
    animation-delay: (0.5+$i/10)s;
  }
}


.menu-line-animation{
  animation: 2s ease-in-out 0.2s both scaleInTop;
}


