<div class="about-me-card">
  <div class="about-me-top-header">
    <div class="square"></div>
    <app-profile></app-profile>
  </div>
  <div class="about-me-body" >
    <app-profile-name class="backgrounded drop" name="Bouazzouni syphax"></app-profile-name>
    <p class="bio">
      I love coding, new technologies & chocolates.
      I'm mostly interested in Full Stack Web Development.
      <br>
      I love to work with Java Spring, Laravel , Angular & Vue.
      <app-hire-me-btn></app-hire-me-btn>
    </p>
    <app-divider-line></app-divider-line>
    <app-social-networks></app-social-networks>
  </div>

</div>

